body {
  background-color: white;
}

.test {
  min-height: 200px;
  background-image: url("../images/test.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
}

@import "~bootstrap/scss/bootstrap";
